# SERVER CONFIG
PORT=3000
NODE_ENV=production
MODO_DESENVOLVEDOR=false
JWT_SECRET=gere_com_node_-e_"console.log(require('crypto').randomBytes(64).toString('hex'))"

WORKER_URL=
WORKER_SECRET=

# DATABASE (PostgreSQL - Neon)
DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require

# GATEWAY ASAAS
ASAAS_API_KEY=
ASAAS_ENV=sandbox
ASAAS_WEBHOOK_TOKEN=

# STRIPE
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

# ENCRYPTION (gere com: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))")
ENCRYPTION_KEY=

# MASTER ACCOUNT
MASTER_EMAIL=
MASTER_PASSWORD=

# COMUNICACAO BREVO (SMTP)
BREVO_API_KEY=
BREVO_SENDER=
ALERTA_EMAIL_DESTINO=

# DATAJUD (CNJ)
DATAJUD_API_KEY=
DATAJUD_URL=https://api-publica.datajud.cnj.jus.br

# API Claude (Anthropic)
CLAUDE_API_KEY=

# PJE
PJE_AMBIENTE=homologacao

# PROXY
PROXY_PORT=3030
PROXY_SECRET=
